@font-face {
  font-family: 'Star Jedi';
  src: url('../fonts/StarJedi.eot');
  src: url('../fonts/StarJedi.eot?#iefix') format('embedded-opentype'),
      url('../fonts/StarJedi.woff2') format('woff2'),
      url('../fonts/StarJedi.woff') format('woff'),
      url('../fonts/StarJedi.ttf') format('truetype'),
      url('../fonts/StarJedi.svg#StarJedi') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'Star Jedi';
  color: #ffe300;
  font-weight: normal;

}
html {
  background: url(../img/bg.jpg) no-repeat 50% 0 #090621;
  background-size: 100%;
  background-attachment: fixed;
}
h1{
  text-align: center;
}
body,html {
  margin: 0;
  padding: 0;
  padding: 25px;

}
input,
button{
  border: 1px solid #ffe300;
  font-family: 'Star Jedi';
  color: #ffe300;
  font-weight: normal;
  background: #090621;
  padding: 5px 15px;
  cursor: pointer;

}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item{
  border: 1px solid #ffe300;
  padding: 15px 20px;
  text-align: center;
  margin: 25px 10px;
  flex: 0 0 20%;
  width: 20%;
  background: #0906217a;
}
img{
  max-width: 100%;
}
ul{
  padding-left: 20px;
}
p,
li{
  font-size: 12px;;
}
